{% extends 'base.html' %}

{% block body %}
<h2>Pottermore</h2>

<p class="lead">
  <a href="https://pottermore.com">Pottermore</a> has a lot of awesome news and
  information on the wider Harry Potter universe, unfortunately it doesn't
  provide any syndication feeds for this data.
</p>

<ul>
  <li><a href="/pottermore/news/">Pottermore News</a></li>
  <li><a href="/pottermore/features/">Pottermore Features</a></li>
</ul>
{% endblock %}
